<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzw.web.core.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.yzw.web.core.entity.Menu">
        <!--
        @mbg.generated
        -->
        <id column="MENU_GUID" jdbcType="VARCHAR" property="menuGuid"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="DELETE_DATE" jdbcType="TIMESTAMP" property="deleteDate"/>
        <result column="CREATE_USER_LABEL" jdbcType="VARCHAR" property="createUserLabel"/>
        <result column="UPDATE_USER_LABEL" jdbcType="VARCHAR" property="updateUserLabel"/>
        <result column="DELETE_USER_LABEL" jdbcType="VARCHAR" property="deleteUserLabel"/>
        <result column="RECORD_VERSION" jdbcType="INTEGER" property="recordVersion"/>
        <result column="MENU_NAME" jdbcType="VARCHAR" property="menuName"/>
        <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId"/>
        <result column="MENU_ORDER" jdbcType="INTEGER" property="menuOrder"/>
        <result column="URL" jdbcType="VARCHAR" property="url"/>
        <result column="TARGET" jdbcType="VARCHAR" property="target"/>
        <result column="MENU_TYPE" jdbcType="CHAR" property="menuType"/>
        <result column="MENU_STATUS" jdbcType="CHAR" property="menuStatus"/>
        <result column="PERMS" jdbcType="VARCHAR" property="perms"/>
        <result column="ICON" jdbcType="VARCHAR" property="icon"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <!--
        @mbg.generated
        -->
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        <!--
        @mbg.generated
        -->
        MENU_GUID, CREATE_DATE, UPDATE_DATE, DELETE_DATE, CREATE_USER_LABEL, UPDATE_USER_LABEL,
        DELETE_USER_LABEL, RECORD_VERSION, MENU_NAME, PARENT_ID, MENU_ORDER, URL, TARGET,
        MENU_TYPE, MENU_STATUS, PERMS, ICON, remark
    </sql>
    <select id="selectByExample" parameterType="com.yzw.web.core.entity.MenuExample" resultMap="BaseResultMap">
        <!--
        @mbg.generated
        -->
        select
        <if test="distinct">
            distinct
        </if>
        'false' as QUERYID,
        <include refid="Base_Column_List"/>
        from t_menu
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--
        @mbg.generated
        -->
        select
        <include refid="Base_Column_List"/>
        from t_menu
        where MENU_GUID = #{menuGuid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--
        @mbg.generated
        -->
        delete from t_menu
        where MENU_GUID = #{menuGuid,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.yzw.web.core.entity.Menu">
        <!--
        @mbg.generated
        -->
        insert into t_menu (MENU_GUID, CREATE_DATE, UPDATE_DATE,
        DELETE_DATE, CREATE_USER_LABEL, UPDATE_USER_LABEL,
        DELETE_USER_LABEL, RECORD_VERSION, MENU_NAME,
        PARENT_ID, MENU_ORDER, URL,
        TARGET, MENU_TYPE, MENU_STATUS,
        PERMS, ICON, remark
        )
        values (#{menuGuid,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP},
        #{deleteDate,jdbcType=TIMESTAMP}, #{createUserLabel,jdbcType=VARCHAR}, #{updateUserLabel,jdbcType=VARCHAR},
        #{deleteUserLabel,jdbcType=VARCHAR}, #{recordVersion,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR},
        #{parentId,jdbcType=BIGINT}, #{menuOrder,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR},
        #{target,jdbcType=VARCHAR}, #{menuType,jdbcType=CHAR}, #{menuStatus,jdbcType=CHAR},
        #{perms,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.yzw.web.core.entity.Menu">
        <!--
        @mbg.generated
        -->
        insert into t_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuGuid != null">
                MENU_GUID,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
            <if test="updateDate != null">
                UPDATE_DATE,
            </if>
            <if test="deleteDate != null">
                DELETE_DATE,
            </if>
            <if test="createUserLabel != null">
                CREATE_USER_LABEL,
            </if>
            <if test="updateUserLabel != null">
                UPDATE_USER_LABEL,
            </if>
            <if test="deleteUserLabel != null">
                DELETE_USER_LABEL,
            </if>
            <if test="recordVersion != null">
                RECORD_VERSION,
            </if>
            <if test="menuName != null">
                MENU_NAME,
            </if>
            <if test="parentId != null">
                PARENT_ID,
            </if>
            <if test="menuOrder != null">
                MENU_ORDER,
            </if>
            <if test="url != null">
                URL,
            </if>
            <if test="target != null">
                TARGET,
            </if>
            <if test="menuType != null">
                MENU_TYPE,
            </if>
            <if test="menuStatus != null">
                MENU_STATUS,
            </if>
            <if test="perms != null">
                PERMS,
            </if>
            <if test="icon != null">
                ICON,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="menuGuid != null">
                #{menuGuid,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteDate != null">
                #{deleteDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserLabel != null">
                #{createUserLabel,jdbcType=VARCHAR},
            </if>
            <if test="updateUserLabel != null">
                #{updateUserLabel,jdbcType=VARCHAR},
            </if>
            <if test="deleteUserLabel != null">
                #{deleteUserLabel,jdbcType=VARCHAR},
            </if>
            <if test="recordVersion != null">
                #{recordVersion,jdbcType=INTEGER},
            </if>
            <if test="menuName != null">
                #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="menuOrder != null">
                #{menuOrder,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="target != null">
                #{target,jdbcType=VARCHAR},
            </if>
            <if test="menuType != null">
                #{menuType,jdbcType=CHAR},
            </if>
            <if test="menuStatus != null">
                #{menuStatus,jdbcType=CHAR},
            </if>
            <if test="perms != null">
                #{perms,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yzw.web.core.entity.Menu">
        <!--
        @mbg.generated
        -->
        update t_menu
        <set>
            <if test="createDate != null">
                CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteDate != null">
                DELETE_DATE = #{deleteDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserLabel != null">
                CREATE_USER_LABEL = #{createUserLabel,jdbcType=VARCHAR},
            </if>
            <if test="updateUserLabel != null">
                UPDATE_USER_LABEL = #{updateUserLabel,jdbcType=VARCHAR},
            </if>
            <if test="deleteUserLabel != null">
                DELETE_USER_LABEL = #{deleteUserLabel,jdbcType=VARCHAR},
            </if>
            <if test="recordVersion != null">
                RECORD_VERSION = #{recordVersion,jdbcType=INTEGER},
            </if>
            <if test="menuName != null">
                MENU_NAME = #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                PARENT_ID = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="menuOrder != null">
                MENU_ORDER = #{menuOrder,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                URL = #{url,jdbcType=VARCHAR},
            </if>
            <if test="target != null">
                TARGET = #{target,jdbcType=VARCHAR},
            </if>
            <if test="menuType != null">
                MENU_TYPE = #{menuType,jdbcType=CHAR},
            </if>
            <if test="menuStatus != null">
                MENU_STATUS = #{menuStatus,jdbcType=CHAR},
            </if>
            <if test="perms != null">
                PERMS = #{perms,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                ICON = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where MENU_GUID = #{menuGuid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yzw.web.core.entity.Menu">
        <!--
        @mbg.generated
        -->
        update t_menu
        set CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
        DELETE_DATE = #{deleteDate,jdbcType=TIMESTAMP},
        CREATE_USER_LABEL = #{createUserLabel,jdbcType=VARCHAR},
        UPDATE_USER_LABEL = #{updateUserLabel,jdbcType=VARCHAR},
        DELETE_USER_LABEL = #{deleteUserLabel,jdbcType=VARCHAR},
        RECORD_VERSION = #{recordVersion,jdbcType=INTEGER},
        MENU_NAME = #{menuName,jdbcType=VARCHAR},
        PARENT_ID = #{parentId,jdbcType=BIGINT},
        MENU_ORDER = #{menuOrder,jdbcType=INTEGER},
        URL = #{url,jdbcType=VARCHAR},
        TARGET = #{target,jdbcType=VARCHAR},
        MENU_TYPE = #{menuType,jdbcType=CHAR},
        MENU_STATUS = #{menuStatus,jdbcType=CHAR},
        PERMS = #{perms,jdbcType=VARCHAR},
        ICON = #{icon,jdbcType=VARCHAR},
        remark = #{remark,jdbcType=VARCHAR}
        where MENU_GUID = #{menuGuid,jdbcType=VARCHAR}
    </update>
</mapper>